<% unless current_user %>
  <header class="jumbotron masthead">
    <div class="inner">
      <h1>Welcome to BabyStats</h1>
      <p>An awesome tool to track your baby's progress</p>
    </div>
  </header>
  <div class="row">
    <div class="span7">
      <div class="carousel" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "/assets/baby.jpg", :size => "300x500" %>
            <div class="carousel-caption">
              <p>Welcome to BabyStats!<p/>
            </div>
          </div>
          <div class="item">
            <%= image_tag "/assets/baby2.jpg", :size => "500x500" %>
            <div class="carousel-caption">
              <p>An awesome tool to track your babies!</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    <div class="span5">
      <%= render 'devise/registrations/form' %>
    </div>
  </div>
<% else %>
  <p>Decide what to show here</p>
<% end %>
