<div class="row">
  <div class="span6">
    <legend>Edit baby</legend>
    <%= render 'babies/form' %>
    <ul class="quick-links">
      <li><%= link_to "Back", :back %></li>
      <li><%= link_to "Delete #{@baby.name} from records", baby_path(@baby), :method => :delete, :confirm => "are you sure?" %></li>
    </ul>
  </div>
</div>
